---
layout: 'base.njk'
---

    <div class="main">
    <div class="blogcard article">
        <div class="img"><img src="{{ image }}" alt=" {{ alt }}"></div>
        <div class="details">
        <div class="writer">
            <p class= "user"><i class="fa-solid fa-user"></i> {{ author }} <i class="fa-solid fa-calendar-days"></i> {{ publish }} <i class="fa-solid fa-clock"></i> {{ time }}</p>
        </div>
        <h3>{{ title }}</h3>
         {{ content | safe }}
        </div>
       
    </div>
    </div>

