---
layout: 'base.njk'
---

    <div class="main">
    <div class="blogcard article">
        <div class="img"><img src="{{ image }}" alt=" {{ alt }}"></div>
        <div class="details">
        <div class="writer">
        </div>
        <h3>{{ title }}</h3>
         <div class="blogbody">
            {{ content | safe }}
         </div>
    </div>
    </div>
        {% include 'more.njk'%}
    </div>

