<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content= {{ "pageDescription" }}>
   <meta name="keywords" content="{{ keywords }}">
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/45f1e4db6d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Amatic+SC&family=Anton&family=Azeret+Mono&family=Bodoni+Moda:opsz@6..96&family=Carter+One&family=Caveat&family=Ceviche+One&family=Courgette&family=Dancing+Script:wght@500&family=El+Messiri&family=Expletus+Sans:ital@1&family=Fredoka+One&family=Imprima&family=League+Spartan&family=Manrope&family=Merienda&family=Montserrat&family=Oxygen&family=Patrick+Hand&family=Permanent+Marker&family=Piazzolla:opsz@8..30&family=Poppins&family=Puritan&family=Raleway+Dots&family=Satisfy&family=Sora&family=Source+Code+Pro:wght@500&family=Vidaloka&family=Yatra+One&family=Yeseva+One&family=Zeyada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      <link rel="icon" type="image/x-icon" href="/img/logo2.png">
</head>
<body id="body">
    
    {% include 'loader.njk'%}
    {% include 'hello.njk' %}
    {% include 'header.njk' %}
    <section class="body">
        {{ content | safe }}
        {% include 'featured.njk' %}
    </section>
    {% include 'footer.njk' %}

<script src="/script.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script>
    var body = document.getElementById("body");
    window.addEventListener("load" , function(){
        body.style.overflowY="scroll";
    })

    var loader = document.querySelector(".loader");
    window.addEventListener("load" , function(){
        loader.style.display="none";
    })
</script>
<script>
    document.getElementById("mailform").addEventListener("keyup", function() {
    var userInput = document.querySelector('#name').value;
    var passInput = document.querySelector('#mail').value;
    if (userInput !== '' && passInput !== '') {
        document.querySelector('.sub').removeAttribute("disabled"); 
    }
    else {
        document.querySelector('.sub').setAttribute("disabled", null);
    }  
});
</script>
</body>
</html>
