    <div class="featured">
        <h2>Socials</h2>
        <a href=""><button class="featurecard">Instagram |<span id="igfollowercount"></span>Followers</button></a>
        {# <a href=""><button class="featurecard">YouTube |<span id="ytfollowercount"></span>Followers</button></a>
        <a href=""><button class="featurecard">TikTok |<span id="ttfollowercount"></span>Followers</button></a> #}
        <br>
        <br>
        <h2>Categories</h2>
        <a href="/all"><button class="featurecard">All</button></a>
        <a href="/index.html"><button class="featurecard">Latest</button></a>
        <a href=""><button class="featurecard">CSS</button></a>
        <a href=""><button class="featurecard">HTML</button></a>
        <a href=""><button class="featurecard">JavaScript</button></a>
        <a href=""><button class="featurecard">C++</button></a>
        <a href=""><button class="featurecard">Programming</button></a>
        <a href=""><button class="featurecard">Study</button></a>
        <a href=""><button class="featurecard">Web Dev</button></a>
        <a href=""><button class="featurecard">Top 5</button></a>
        <br>
        <br>
        <h2>Support</h2>
        <a href=""><button class="featurecard pop">Buy me a coffee ☕</button></a>
         <br>
        <br>
        <h2>Anav Himself</h2>
        <a href=""><button class="featurecard pop">Personal Instagram</button></a>
        <a href=""><button class="featurecard pop">Personal Portfolio</button></a>
    </div>
