    <div class="featured">
        <h2>Socials</h2>
        <a href=""><button class="featurecard">Instagram |<span id="followercount"></span>Followers</button></a>
        <br>
        <br>
        <h2>Categories</h2>
        <a href="/all"><button class="featurecard">All</button></a>
        <a href="/index.html"><button class="featurecard">Latest</button></a>
        <a href=""><button class="featurecard">CSS</button></a>
        <a href=""><button class="featurecard">HTML</button></a>
        <a href=""><button class="featurecard">JavaScript</button></a>
        <a href=""><button class="featurecard">Tech</button></a>
        <a href=""><button class="featurecard">Computer</button></a>
        <a href=""><button class="featurecard">News</button></a>
        <a href=""><button class="featurecard">UI/UX</button></a>
        <a href=""><button class="featurecard">Design</button></a>
        <a href=""><button class="featurecard">Canva</button></a>
        <a href=""><button class="featurecard">Study</button></a>
        <a href=""><button class="featurecard">Software</button></a>
        <a href=""><button class="featurecard">AI</button></a>
        <a href=""><button class="featurecard">Tips</button></a>
        <a href=""><button class="featurecard">Hover</button></a>
        <a href=""><button class="featurecard">Top 10</button></a>
        <br>
        <br>
        <h2>Creative CSS</h2>
        <a href=""><button class="featurecard">Buttons</button></a>
        <a href=""><button class="featurecard">Dropdowns</button></a>
        <a href=""><button class="featurecard">Socials</button></a>
        <a href=""><button class="featurecard">Carousels</button></a>
        <a href=""><button class="featurecard">Loaders</button></a>
        <a href=""><button class="featurecard">Forms</button></a>
        <a href=""><button class="featurecard">Toggle</button></a>
        <br>
        <br>
        <h2>Popular</h2>
        <a href="blog1.html"><button class="featurecard pop">Basic computer Specs for Frontend Web Dev - 2023!</button></a>
        <br>
        <br>
        <h2>Support</h2>
        <a href=""><button class="featurecard pop">Buy me a coffee</button></a>
    </div>
