<footer>
    <div class="copyright"><i class="fa-solid fa-copyright"></i> Copyright 2023 Anav Chand</div>
    <div class="legal">
        <a href="">About Us</a>
        <a href="">Contact Us</a>
        <a href="">Terms & Conditions</a>
        <a href="">Privacy Policy</a>
    </div>
</footer>
