<footer>
    <div class="copyright"><i class="fa-solid fa-copyright"></i> Copyright <span id="year"></span> | Codeology.net by <span><a href="https://www.instagram.com/anav.webdev/">Anav</a></span></div>
    <div class="legal">
        <a href="/about">About</a>
        <a href="/contact">Contact </a>
        <a href="/Disclaimer">Disclaimer</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>
