<div class="hello">
    <i onclick="myFunction()" class="fa-solid fa-xmark"></i>
    <div class="img"><img src="/img/hero.png" alt=""></div>
    <h2 id = "hellotext"></h2>
    <p>My name is Anav and I made this website, pretty cool right? If you have any questions, don't hold back!</p>
    <a href=""><button>Let's Talk</button></a>
</div>