{# <div class="helloholder">
    <div class="hello">
        <i onclick="closediv()" class="fa-solid fa-xmark"></i>
        <div class="img"><img src="/img/hero.png" alt=""></div>
        <h2 id = "">Hello There 👋</h2>
        <p>My name is Anav and I made this website; pretty cool right? Feel free to message me if you have any questions.</p>
        <a href="https://www.instagram.com/partially_unblind/" onclick="closediv()"><button>Let's Talk</button></a>
    </div>
</div> #}

<div class="helloholder">
    <div class="hello">
         <div class="prepreloader">
            <div class="loader-1 center"><span></span></div>
         </div>
        <i onclick="closediv()" class="fa-solid fa-xmark"></i>
        <div class="img"><img src="/img/i.jpg" alt=""></div>
        <h2 id = "">Want this <span class="freebie">freebie</span>?</h2>
        <p>Its a design inspriratoin kit. 18 Gradients + 15 Fonts + 7 Hero sections</p>
        <form action="" name="submit-to-google-sheet" id = "mailform">
            <input type="text" name="Name" id="name" placeholder="Name" required >
            <input  type="email" name="Email" id="mail" placeholder="Email" required>
        <button disabled class="featurecard sub" type="submit" onclick = "sent()" >Grab it</button>
        </form>

    </div>
</div>