<div class="helloholder">
<div class="hello">
    <i onclick="closediv()" class="fa-solid fa-xmark"></i>
    <div class="img"><img src="/img/hero.png" alt=""></div>
    <h2 id = "hellotext"></h2>
    <p>My name is Anav and I made this website; pretty cool right? Feel free to message me if you have any questions.</p>
    <a href="https://www.instagram.com/partially_unblind/" onclick="closediv()"><button>Let's Talk</button></a>
</div>
</div>