---
title : Error 404 
layout: 'base.njk'
---

    <div class="main">
        <div class="title"><h2>{{ title }} 💀</h2></div>
        <div class="blogcard">
            <div class="img"><img src="/img/404.png" alt=""></div>
            <div class="details">
            <h1>You seem to be lost</h1>
            <p>The webpage you are lookig for does not exist. You might want to head back to where you came from.</p>
         </div>
        </div>
        </div>
    </div>