---
title : About Us 
layout: 'base.njk'
---

    <div class="main">
        <div class="title"><h2>{{ title }} ✌️</h2></div>
        <div class="blogcard">
            <div class="details">
            <h1>Welcome to Dinghydev Hub</h1>
            <p>I would firstly like to thank you for visiting my website! It means a great deal when you guys decides to hop on and stay here.</p>
         </div>
        </div>
        <div class="blogcard">
            <div class="details">
            <h1>Who are We?</h1>
            <p>We are a online learning platform that aims to help beginner level programmers by talking on topics such as design, web develpment, JavaScripy, C++ and much more! Articles that you find here will be catered towards the newbies so that no one feels left out.
            </div>
        </div>
        <div class="blogcard">
            <div class="details">
            <h1>Final Words</h1>
            <p>As you begin your adventure, keep in mind that programming can often be difficult but is also incredibly rewarding. You get closer to making something incredible, something that can actually change the world, with each line of code you write. Keep in mind to be patient with yourself and not let failures demotivate you. It takes time to become proficient in the process of learning to code. But with every obstacle you overcome, you grow stronger and more skilled as a coder.
            </div>
        </div>
    </div>
