---
title : About Us 
layout: 'base.njk'
keywords: "About Us, web development, programming, development team, website team, website mission, website values, website vision, website resources, website creators, website designers, website developers, website community, website innovation, website technology, website approaches, website content creators, website contributors"
pageDescription: "Discover the team behind our comprehensive collection of blogs on web development and programming. Our About Us page introduces our passionate and experienced group of developers, designers, and content creators. Learn about our mission, values, and vision for providing valuable and accessible resources to the global web development community. Join us in our journey to enhance the world of technology through innovative and creative approaches."

---

    <div class="main">
        <div class="title"><h2>{{ title }} ✌️</h2></div>
        <div class="blogcard">
             <div class="img"><img src="/img/about.png" alt=""></div>
            <div class="details">
            <h1>Welcome to Codeology.net!</h1>
            <p>I would firstly like to thank you for visiting my website! It means a great deal when you guys decides to hop on and stay here.</p>
         </div>
        </div>
        <div class="blogcard">
            <div class="details">
            <h1>Who are we?</h1>
            <p>We are a team small dedicated to helping beginner level programmers take their first steps into the exciting world of coding. Our aim is to provide easy-to-understand, practical guidance and resources that will help you develop your programming skills and become a confident coder.
            </div>
        </div>
        <div class="blogcard">
            <div class="details">
            <h1>What to expect:</h1>
            <p>
                At Codeology.net, you'll find a wide range of articles, tutorials, and resources on various programming languages, tools, and frameworks. Whether you're interested in web development, mobile app development, or software engineering, we have something for you.
            </div>
        </div>
    </div>
