---
title : All blogs
layout: 'base.njk'
---
    <div class="main">
        <div class="title"><h2>{{ title }} 🔥</h2></div>
        {%- for post in collections.post -%}
            {% include 'blogcard.njk' %}
        {%- endfor -%}
    </div>



