---
title : Talk to Us 
layout: 'base.njk'
keywords: "Contact Us, web development, programming, website feedback, website collaboration, website experts, website contact form, website email, website social media, website channels, website suggestions, website complaints, website partnership, website communication, website support, website queries, website inquiries"
pageDescription: "Get in touch with us for any questions, feedback, or collaboration opportunities. Our Contact Us page provides a simple and easy way to reach out to our team of experts in web development and programming. Whether you have a suggestion, a complaint, or a partnership proposal, we are always open to hearing from you. Use our convenient contact form or find our email address and social media channels to connect with us."
---

    <div class="main">
        <div class="title"><h2>{{ title }} 😊</h2></div>
           <div class="blogcard">
            <div class="details">
            <h1>Got something to say?</h1>
            <p>Feel free to let us know what you think about the website. Feedback is the thing we value most as it helps us improve our website, enabling you to have a better experince! Not only that, but if you have any blog ideas or requests, let us know and we'll try our best to add it.</p>
         </div>
        </div>
       <div class="blogcard">
                    <div class="form" id="form">
                        <form action= "https://formsubmit.co/codeology.net@gmail.com" method="POST">
                            
                            <!-- honeyopt? -->
                            <input type="text" name="_honey" style="display:none">
                            <!-- disble captcha??? -->
                            <input type="hidden" name="_captcha" value="false">
                            <!-- success page:) -->
                            <input type="hidden" name="_next" value="https://codeology.net/success" >
                            <input class="joe" type="text" name="Name" id="name" placeholder="Name" required>
                            <input class="joe" type="text" name="Phone" id="phone" placeholder="Phone Number"  required >
                            <input class="joe" type="email" name="Email" id="email" placeholder="E-mail Address" required >
                            <textarea class="joe"  name="Message" id="message" rows="5" placeholder="Message" required ></textarea>
                            <div class="sendNsocials">
                                <div class="sedbtn">
                                    <button type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>

        </div>
    </div>
