{# ---
title : HTML5 Courses 
layout: 'base.njk'
keywords: "HTML, beginner, course, learn, web development, basics"
pageDescription : "Learn the basics of HTML with our beginner level courses. Our expert instructors will guide you through the fundamentals of web development, including HTML syntax, tags, and attributes. Start your journey to becoming a web developer today!"
---

<div class="main">
    <div class="title">
        <h2>HTML5 Courses 💡</h2>
    </div>

    <div class="blogcard">
        <div class="img"><a href=""><img src="/img/12.jpg" alt=""></a></div>
        <div class="details">
        <a href=""><h3>HTML5 Fundamentals Course: HTML Basics</h3></a>
        <p>Discover the fundamentals of HTML and start building your own website with our HTML Fundamentals course. Perfect for beginners, this course provides you with the essential knowledge and skills to get started in web development.</p>
       <div class="price">
         <a href=""><button>Enroll Now</button></a>
        <div class="discount">
            <h1>₹ 7350.00</h1>
            <h1 class="old">₹ 14700.00</h1>
        </div>
       </div>
            <div class="coursedetails">
            <div class="cdleft">
                <h3>What you'll learn:</h3>
                <ul>
                    <li>Create your own website from scratch</li>
                    <li>Understand basic HTML structure</li>
                    <li>Add content using HTML tags</li>
                    <li>Add headings, paragraphs, and lists</li>
                    <li>Add images, links, and tables</li>
                    <li>Build HTML forms for user input</li>
                </ul>
            </div>
            <div class="cdright">
            <h3>What this course includes:</h3>
                    <p><i class="fa-solid fa-video"></i> 43 minutes of video lectures</p>
                    <p><i class="fa-solid fa-code"></i> 23 exercises</p>
                    <p><i class="fa-solid fa-file"></i> 15 downloadable resources</p>
                    <p><i class="fa-solid fa-infinity"></i> Full lifetime access</p>
                    <p><i class="fa-solid fa-mobile"></i> Access on mobile & TV</p>
                    <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p>
            </div>
        </div>
        </div>
    </div>
            <div class="blogcard" id="free">
        <div class="img"><a href=""><img src="/img/13.jpg" alt=""></a></div>
        <div class="details">
        <a href=""><h3>Introduction to Web Development (Full-Stack)</h3></a>
        <p>Ready to learn web development? Our free course covers frontend, backend, and API fundamentals, giving you the tools to build modern web applications. Start your journey in full-stack web development today and unlock endless possibilities!</p>
              <div class="price">
         <a href=""><button>Enroll Now</button></a>
        <div class="discount">
            <h1>FREE</h1>
        </div>
       </div>

        <div class="coursedetails">
            <div class="cdleft">
                <h3>What you'll learn:</h3>
                <ul>
                    <li>Difference between front and backend</li>
                    <li>How web applications work</li>
                    <li>Understand basic of HTML pages</li>
                    <li>What an API is</li>
                </ul>
            </div>
            <div class="cdright">
            <h3>What this course includes:</h3>
                <p><i class="fa-solid fa-video"></i> 16 minutes of video lectures</p>              
                <p><i class="fa-solid fa-infinity"></i> Full lifetime access</p>
                <p><i class="fa-solid fa-mobile"></i> Access on mobile & TV</p>
                <p><i class="fa-solid fa-trophy"></i> Certificate of completion</p>
            </div>
        </div>
        </div>
    </div>

</div>

 #}
