---
title : CSS Projects | Free Source Code 
layout: 'base.njk'
keywords: "Creative CSS, CSS Projects, Live Code Editor, Free Source Code"
pageDescription : "Discover a vast collection of creative CSS projects and experiment with your own ideas using our live code editor. Our website provides free source code for various web design elements, from typography to animations. Get inspired and bring your web design to life with our easy-to-use platform. Join our community of designers today!"
---



<div class="main">
    <div class="title"><h2>Creative CSS Projects 💅</h2></div>

    <div class="blogcard">
        <div class="details">
            <h1>Live Code Editing!</h1>
            <p>Codepen intergration allows you can edit the code and see live changes! Feel free to fiddle with the code and see how the code comes together.</p>
        </div>
    </div>

    <div class="blogcard">
        <div class="details">
        <h1>Project List:</h1>
        <ul>
            <li><a href="#1">Social Icons</a></li>
            <li><a href="#2">Carousel</a></li>
            <li><a href="#3">Input Field</a></li>
            <li><a href="#4">Dropdown</a></li>
            <li><a href="#5">Buttons</a></li>
            <li><a href="#6">Loader</a></li>

        </ul>
        </ul>
        </ul>
        </ul>
        </div>
    </div>
      

     <div class="blogcard">
       <iframe height="400" id="1" style="width: 100%;" scrolling="no" title="Creative CSS Social Icons" src="https://codepen.io/anav5704/embed/dygezJP?default-tab=css%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href="https://codepen.io/anav5704/pen/dygezJP">
        Creative CSS Social Icons</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
        on <a href="https://codepen.io">CodePen</a>.
        </iframe>
        <div class="details">
            <h3>Creative CSS Social Icons</h3>
        </div>
    </div>

    <div class="blogcard">
        <iframe height="400" id="2" style="width: 100%;" scrolling="no" title="Creative CSS Carousel" src="https://codepen.io/anav5704/embed/poxVrpV?default-tab=css%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href="https://codepen.io/anav5704/pen/poxVrpV">
        Creative CSS Carousel</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
        on <a href="https://codepen.io">CodePen</a>.
        </iframe>
        <div class="details">
            <h3>Creative CSS Carousel</h3>
        </div>
    </div>

    <div class="blogcard">
      <iframe height="400" id="3" style="width: 100%;" scrolling="no" title="Creative CSS Text Input" src="https://codepen.io/anav5704/embed/gOBvQKP?default-tab=css%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
            See the Pen <a href="https://codepen.io/anav5704/pen/gOBvQKP">
            Creative CSS Text Input</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
            on <a href="https://codepen.io">CodePen</a>.
            </iframe>
        <div class="details">
            <h3>Creative CSS Text Input</h3>
        </div>
    </div>

    <div class="blogcard">
       <iframe height="400" id="4" style="width: 100%;" scrolling="no" title="Creative CSS Dropdown Menu" src="https://codepen.io/anav5704/embed/mdzXQKJ?default-tab=css%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href="https://codepen.io/anav5704/pen/mdzXQKJ">
        Creative CSS Dropdown Menu</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
        on <a href="https://codepen.io">CodePen</a>.
        </iframe>
        <div class="details">
            <h3>Creative CSS Dropdown Menu</h3>
        </div>
    </div>

    <div class="blogcard">
        <iframe height="400px" id="5" style="width: 100%;" scrolling="no" title="Creative CSS Button Hover" src="https://codepen.io/anav5704/embed/jOeZQKL?default-tab=css%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href="https://codepen.io/anav5704/pen/jOeZQKL">
        Creative CSS Button Hover</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
        on <a href="https://codepen.io">CodePen</a>.
        </iframe>
        <div class="details">
            <h3>Creative CSS Button Hover</h3>
        </div>
    </div>

    <div class="blogcard">
        <iframe height="400" id="6" style="width: 100%;" scrolling="no" title="Creative CSS Loading Animation" src="https://codepen.io/anav5704/embed/poxVrdV?default-tab=css%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
        See the Pen <a href="https://codepen.io/anav5704/pen/poxVrdV">
        Creative CSS Loading Animation</a> by Anav Chand (<a href="https://codepen.io/anav5704">@anav5704</a>)
        on <a href="https://codepen.io">CodePen</a>.
        </iframe>        
        <div class="details">
            <h3>Creative CSS Loading Animation</h3>
        </div>
    </div>


</div>
    



