---
title : A Gift from Codeology
layout: 'base.njk'
keywords: "design inspiration, design resources, freebie, graphic design, web design"
pageDescription: "Get your creative juices flowing with our Design Inspiration Kit, a freebie filled with design resources that will inspire your next graphic or web design project. From fonts and color palettes to mockups and textures, our kit has everything you need to jumpstart your creativity. Download now and elevate your design game!"
---

 <div class="main">
     <div class="title"><h2>{{ title }} 🎁</h2></div>
        <div class="blogcard">
        <div class="img"><a href="/freebie.zip" download><img src="/img/gift.jpg" alt=""></a></div>
        <div class="details">
        <a href="/freebie.zip" download><h3>Design Inspiration kit</h3></a>
        <p>18 Gradients + 15 Fonts + 7 Hero sections.</p>
        <p>{{ post.data.description }}</p>
        <a href="/freebie.zip" download><button>Download</button></a>
        </div>
    </div>
    </div>

   



