---
title : HTML Blogs
layout: 'base.njk'
keywords: "TML, web development, markup language, website design, web pages, coding, front-end development, hypertext, semantic markup, elements, attributes, syntax."
pageDescription: "Discover the latest tips, tricks, and tutorials on HTML coding and website design. Enhance your front-end development skills with our comprehensive guide on the markup language used to build the web. From basic syntax to advanced techniques, learn how to create responsive, user-friendly web pages with HTML."
---

 <div class="main">
        <div class="title"><h2>{{ title }} 🖊️</h2></div>
        {%- for post in collections.html | reverse -%}
            {% include 'blogcard.njk' %}
        {%- endfor -%}
    </div>

   



