---
title : Latest Blogs 
layout: 'base.njk'
---

    <div class="main">
        <div class="title"><h2>{{ title }} ✨</h2></div>
        {%- for post in collections.latest | reverse -%}
            {% include 'blogcard.njk' %}
        {%- endfor -%}
    </div>

