---
title : Latest Blogs 
layout: 'home.njk'
keywords: ""
pageDescription : ""
---

<div class="hero">
    <div class="herotxt">
       <h1 id="herotext"></h1><h1>Welcome to <span>Codeology.net!</span></h1>
       <p>Explore web development and programming with our expert-written blog and fun quizzes. Stay ahead of the curve and expand your skills. Join our passionate community today.</p>
        <div class="btns"><a href="/latest"><button>Blogs</button></a><a href=""><button>Quizes</button></a></div>
    </div>
    <div class="heroimg"><img src="img/heroo.png" alt=""></div>
</div>

