---
title : Codeology 
layout: 'home.njk'
keywords: "web development, programming, blogs, quizzes, front-end development, back-end development, software development, coding, programming languages"
pageDescription : "Welcome to our website, where you can find informative blogs and challenging quizzes on web development and programming. Our content covers a wide range of topics including front-end and back-end development, software development, coding, and programming languages. Whether you're a beginner or an experienced programmer, we have something for everyone. Explore our collection of articles and quizzes to enhance your skills and stay up-to-date with the latest trends in the industry."

---

<div class="hero">
    <div class="herotxt">
       <h1 id="herotext"></h1><h1>Welcome to <span>Codeology.net!</span></h1>
       <p>Explore the amazing world of web development and programming with our blogs and fun quizzes! Stay ahead of the curve and expand your skills by being a part of our community.</p>
        <div class="btns"><a href="/latest"><button>Blogs</button></a><a href="/quiz"><button>Quizzes</button></a></div>
    </div>
    <div class="heroimg"><img src="img/heroo.png" alt=""></div>
</div>


