---
title : Quizzes
layout: 'base.njk'
keywords: "Contact Us, web development, programming, website feedback, website collaboration, website experts, website contact form, website email, website social media, website channels, website suggestions, website complaints, website partnership, website communication, website support, website queries, website inquiries"
pageDescription: "Get in touch with us for any questions, feedback, or collaboration opportunities. Our Contact Us page provides a simple and easy way to reach out to our team of experts in web development and programming. Whether you have a suggestion, a complaint, or a partnership proposal, we are always open to hearing from you. Use our convenient contact form or find our email address and social media channels to connect with us."
---

    <div class="main">
        <div class="title"><h2>{{ title }} ✅</h2></div>
           <div class="blogcard">
            <div class="details">
            <h1>Ready to test yourself?</h1>
            <p>Choose from one of the following and get started.</p>
            <ul>
                <li><a href="#quiz1">HTML Quiz</a></li>
                {# <li><a href="#quiz2">CSS Quiz</a></li>
                <li><a href="">C++ Quiz</a></li>
                <li><a href="">JavaScript Quiz</a></li> #}
            </ul>
         </div>
        </div>
        <div class="blogcard" id="quiz1">
            <div class="details quiz">
                <h1 >HTML Quiz</h1>

                <p class="question">1. What is the correct HTML tag for inserting a line break?</p>
                <button id="ans">&lt;br&gt;</button>
                <button>&lt;line&gt;</button>
                <button>&lt;break&gt;</button>
                <button>&lt;lb&gt;</button>

                <p class="question">2. What is the correct HTML tag for creating a hyperlink?</p>
                <button>&lt;link&gt;</button>
                <button id="ans">&lt;a&gt;</button>
                <button>&lt;href&gt;</button>
                <button>&lt;hyper&gt;</button>

                <p class="question">3. What is the correct HTML tag for creating a heading?</p>
                <button>&lt;head&gt;</button>
                <button id="ans">&lt;h1&gt;</button>
                <button>&lt;title&gt;</button>
                <button>&lt;header&gt;</button>

                <p class="question">4. What is the correct HTML tag for adding an image?</p>
                <button id="ans">&lt;img&gt;</button>
                <button>&lt;picture&gt;</button>
                <button>&lt;image&gt;</button>
                <button>&lt;photo&gt;</button>

                <p class="question">5. Which HTML tag is used to define a list of items with bullets?</p>
                <button>&lt;list&gt;</button>
                <button>&lt;li&gt;</button>
                <button>&lt;ol&gt;</button>
                <button id="ans">&lt;ul&gt;</button>

                <p class="question">6. What is the correct HTML tag for adding a table?</p>
                <button id="ans">&lt;table&gt;</button>
                <button>&lt;grid&gt;</button>
                <button>&lt;tab&gt;</button>
                <button>&lt;spreadsheet&gt;</button>

                <p class="question">7. What is the correct HTML tag for adding a paragraph?</p>
                <button>&lt;para&gt;</button>
                <button id="ans">&lt;p&gt;</button>
                <button>&lt;line&gt;</button>
                <button>&lt;text&gt;</button>

                <p class="question">8. What is the correct HTML tag for adding a form?</p>
                <button id="ans">&lt;form&gt;</button>
                <button>&lt;input&gt;</button>
                <button>&lt;field&gt;</button>
                <button>&lt;entry&gt;</button>

                <p class="question">9. What is the correct HTML tag for adding a button?</p>
                <button>&lt;btn&gt;</button>
                <button id="ans">&lt;button&gt;</button>
                <button>&lt;click&gt;</button>
                <button>&lt;press&gt;</button>

                <p class="question">10. What is the correct HTML tag for creating a comment?</p>
                <button id="ans">&lt;!--comment--&gt;</button>
                <button>&lt;comment&gt;</button>
                <button>&lt;note&gt;</button>
                <button >&lt;message&gt;</button>
                
            </div>
        </div>
    </div>
