---
title : Message Sent
layout: 'base.njk'
---

    <div class="main">
        <div class="title"><h2>{{ title }} 📨</h2></div>
        <div class="blogcard">
            <div class="img"><img src="/img/sent.png" alt=""></div>
            <div class="details">
            <h1>Your message was succeesfuly sent!</h1>
            <p>We appreciate you contacting us and we will get back to you as soon as possible. In the mean time, feel free to explore this website.</p>
         </div>
        </div>
        </div>
    </div>
