---
title : Web Dev Blogs
layout: 'base.njk'
keywords: "web development, frontend development, HTML, CSS, JavaScript, web design, programming languages, web technologies"
pageDescription: "This webpage is dedicated to providing informative and helpful blog articles about web development. Our focus is on frontend development using HTML, CSS, and JavaScript, as well as exploring other programming languages and web technologies. We cover a range of topics related to web design, coding techniques, best practices, and industry news to help developers stay informed and up-to-date with the latest trends. Whether you are a beginner or an experienced developer, our blog provides valuable insights and resources to enhance your skills and knowledge in web development."
---

 <div class="main">
        <div class="title"><h2>{{ title }} 🌐</h2></div>
        {%- for post in collections.webdev | reverse -%}
            {% include 'blogcard.njk' %}
        {%- endfor -%}
    </div>

   



